body {
    padding: 0;
    text-align: center;
    margin: 0;
}

#intro {
    padding: 20px 0px;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh; /* Use the full viewport height */
    padding: 0;
    overflow: hidden; /* Hide overflow to prevent scrollbars */
}

#screen {
    display: none;
    align-content: center;
    overflow: hidden;
    position: relative;
    background-image: url(../images/road2.png);
    background-size: contain; /* Ensure the whole image fits within the div */
    background-position: center;
    background-repeat: no-repeat;
    width: 100%; /* Full width of the container */
    height: 100%; /* Full height of the container */
}

#end{
    display: none;
}

.logo {
    width: 350px;
}

button {
    font-size: 30px;
    background-color: rgb(231, 214, 214);
    padding: 20px 40px;
    border: 0;
    box-shadow: 0;
    border-radius: 15px;
    margin-bottom: 20px;
}